.container-title-image-home {
    display: flex;
    justify-content: space-between;
    /* align-content: space-between; */
    /* margin-top: 1%; */
    margin-bottom: 1%; /* esto recièn se hizo */
    background-color: #845fcd;
}
.title-form {
    align-content:center ;
    align-items: center;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color:rgb(155 0 78 / 94%);
    text-shadow:  #70BF5A ;
    text-shadow: -1px 0 #59AFCA, 0 1px #59AFCA, 1px 0 #59AFCA, 0 -1px #59AFCA, -1px 1px 0 #59AFCA, 1px 1px 0 #59AFCA, 1px 1px #59AFCA, 1px 1px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA;
}
.btn-sign-off {
  filter: brightness(1.1); /* sirve para quitar el fondo del icono */
  mix-blend-mode: multiply; /* sirve para quitar el fondo del icono */
  border: none;
}
i {
  font-size: 30px;
}
#box-comment{
    border-radius: 10px;
    border: 1px solid  #5878ca;
    box-shadow: 0 2px  #5878ca;
    /* width:82%; */
    width: 30%;
    margin: auto;
    margin-top: 7%;
    background-color:  #c5fcf0 ;
    /* background-color: rgb(230, 152, 8); */
  }
  .form-for-notes{
    display: flex;
    align-content:center ; 
    align-items: center;
    flex-direction: column;
  }
  .title-note{
    height: 20px;
    border-radius: 8px;
    border: solid 1px  #5878ca;
    font-size: 50%;
    padding-top: 10px;
    padding-left: 14px;
    color: #575353;
    outline-color: #575353;
    box-shadow: 0 2px #999;
    background-color: white;
    width:85%;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  .comment-post{
    height: 50px;
    border-radius: 8px;
    border: solid 1px  #5878ca;
    font-size: 50%;
    padding-top: 2%;
    padding-left: 14px;
    color: #575353;
    outline-color: #575353;
    box-shadow: 0 2px #999;
    background-color: white;
    width:auto;
    margin-bottom: 5%;
  }
  .post-Notes{
    border: 1px solid #ffffff;
    width:60%;
    height: 60%;
    display: block;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
  }
@media only screen and (min-width: 768px) {
 #box-comment {
    width: 70%;
    height: 30%;
    margin-top: 4%;
    margin-left: 15%;
    font-size: 40px;
    font-size: 50%;
}
.title-note{
    font-size: 30px;
}
.comment-post {
    font-size: 27px;
    height: 3em;
}
}
@media only screen and (min-width: 1024px) {
  .title-note{
    font-size: 18px;
}
#box-comment {
  max-width: 50%;
}
.comment-post {
  font-size: 20px;
  width: 22em;
  height: 3em;
}
}